<table>
    <tr>
        <td>
            <table style="table-layout:fixed;">
                <tr *ngFor="let c of modes; let i = index">
                    <td><button ion-button block small [outline]="mode!=modes[i]"
                            (click)="changeMode(modes[i])">{{modes[i]}}</button></td>
                </tr>
            </table>
        </td>
        <td class="graphContainer" >
            <div id="{{container}}"></div><span [innerHTML]=error></span><ion-spinner ngClass="graphSpinner {{loading?'spinnerVisible':'spinnerHidden'}}"></ion-spinner>
        </td>
    </tr>
</table>