dmj-walkingman {
	span {
		display: block;
		border:0px solid black;
		width:26px;
		height:26px;
		background-image: url(/assets/imgs/1422125406_running_man.png);
		color: transparent;
		border-radius: 15%;
	}
}
